* {
  box-sizing: border-box;
  color: #666;
}
body {
  background-color: #dde;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.post {
  border: 1px solid #6664;
  margin: 1em auto;
  padding: 1em;
  background-color: #acd;
}
textarea,
input {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #8888;
  outline: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: inherit;
}

.itemID {
  /* color: #aaa; */
  opacity: 0.6;
}
p {
  margin: 0;
  padding: 0;
}
main {
  margin: auto;
  max-width: 80em;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
