<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include( "partials/head.ejs") %>
  </head>
  <body>
    <main>
      <h1><a href="./">Notepad JS App</a> | Add Code</h1>

      <%- include( "partials/form.ejs") %>
      <!--  -->
      <%- include ("partials/displayData.ejs") %>
      <!--  -->
    </main>
    <%- include ("partials/footer.ejs") %>
  </body>
</html>
