[class^="icon-"] {
  /* width: 10%; */
  /* width: 10vw; */
  width: 10%;
  /* font-size: 2em; */
  display: inline-block;
  /* width: 100%; */
  aspect-ratio: 1/1;
}
.icon-youtube-color {
  content: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 29 20' fill='none'><path d='M27.9727 3.12324C27.6435 1.89323 26.6768 0.926623 25.4468 0.597366C23.2197 1.78814e-07 14.285 0 14.285 0C14.285 0 5.35042 1.78814e-07 3.12323 0.597366C1.89323 0.926623 0.926623 1.89323 0.597366 3.12324C1.78814e-07 5.35042 0 10 0 10C0 10 1.78814e-07 14.6496 0.597366 16.8768C0.926623 18.1068 1.89323 19.0734 3.12323 19.4026C5.35042 20 14.285 20 14.285 20C14.285 20 23.2197 20 25.4468 19.4026C26.6768 19.0734 27.6435 18.1068 27.9727 16.8768C28.5701 14.6496 28.5701 10 28.5701 10C28.5701 10 28.5677 5.35042 27.9727 3.12324Z' fill='%23FF0000'/><path d='M11.4253 14.2854L18.8477 10.0004L11.4253 5.71533V14.2854Z' fill='white'/></svg>");
}
.icon-whatsapp {
  content: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 928 1024"> <title></title> <g id="icomoon-ignore"> </g> <path d="M582.587 557.542c9.931 0 104.992 49.59 109.078 56.582 1.177 2.909 1.177 6.402 1.177 8.755 0 14.569-4.672 30.905-9.931 44.328-13.427 32.668-67.655 53.673-100.91 53.673-27.996 0-85.75-24.5-110.841-36.164-83.432-37.927-135.341-102.673-185.518-176.764-22.181-32.668-42.009-72.914-41.423-113.16v-4.672c1.177-38.514 15.159-65.923 43.155-92.155 8.755-8.168 18.099-12.837 30.349-12.837 6.991 0 14.013 1.763 21.594 1.763 15.746 0 18.655 4.672 24.5 19.828 4.082 9.931 33.845 89.247 33.845 95.095 0 22.181-40.246 47.237-40.246 60.664 0 2.909 1.177 5.849 2.909 8.755 12.837 27.409 37.34 58.932 59.487 79.905 26.819 25.677 55.405 42.599 88.073 58.932 4.082 2.319 8.168 4.082 12.837 4.082 17.509 0 46.681-56.582 61.84-56.582zM464.168 866.707c201.854 0 366.334-164.514 366.334-366.334s-164.514-366.334-366.334-366.334-366.334 164.514-366.334 366.334c0 76.996 24.5 152.264 70.005 214.655l-46.095 135.931 141.156-44.918c59.487 39.070 130.082 60.664 201.264 60.664zM464.168 60.506c242.687 0 439.834 197.182 439.834 439.834s-197.182 439.834-439.834 439.834c-74.091 0-147.591-18.655-212.928-54.849l-243.243 78.173 79.349-236.251c-41.423-68.242-63.017-147.005-63.017-226.91 0-242.687 197.182-439.834 439.834-439.834z"></path> </svg>');
}
.icon-instagram {
  content: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="864" height="1024" viewBox="0 0 864 1024"><title></title><g id="icomoon-ignore"></g><path d="M585.152 521.152c0-80.576-65.728-146.272-146.272-146.272s-146.272 65.728-146.272 146.272 65.728 146.272 146.272 146.272 146.272-65.728 146.272-146.272zM664 521.152c0 124.576-100.576 225.152-225.152 225.152s-225.152-100.576-225.152-225.152 100.576-225.152 225.152-225.152 225.152 100.576 225.152 225.152zM725.728 286.848c0 29.152-23.424 52.576-52.576 52.576s-52.576-23.424-52.576-52.576 23.424-52.576 52.576-52.576 52.576 23.424 52.576 52.576zM438.848 161.152c-64 0-201.152-5.152-258.848 17.728-20 8-34.848 17.728-50.272 33.152s-25.152 30.272-33.152 50.272c-22.848 57.728-17.728 194.848-17.728 258.848s-5.152 201.152 17.728 258.848c8 20 17.728 34.848 33.152 50.272s30.272 25.152 50.272 33.152c57.728 22.848 194.848 17.728 258.848 17.728s201.152 5.152 258.848-17.728c20-8 34.848-17.728 50.272-33.152s25.152-30.272 33.152-50.272c22.848-57.728 17.728-194.848 17.728-258.848s5.152-201.152-17.728-258.848c-8-20-17.728-34.848-33.152-50.272s-30.272-25.152-50.272-33.152c-57.728-22.848-194.848-17.728-258.848-17.728zM877.728 521.152c0 60.576 0.576 120.576-2.848 181.152-3.424 70.272-19.424 132.576-70.848 184s-113.728 67.424-184 70.848c-60.576 3.424-120.576 2.848-181.152 2.848s-120.576 0.576-181.152-2.848c-70.272-3.424-132.576-19.424-184-70.848s-67.424-113.728-70.848-184c-3.424-60.576-2.848-120.576-2.848-181.152s-0.576-120.576 2.848-181.152c3.424-70.272 19.424-132.576 70.848-184s113.728-67.424 184-70.848c60.576-3.424 120.576-2.848 181.152-2.848s120.576-0.576 181.152 2.848c70.272 3.424 132.576 19.424 184 70.848s67.424 113.728 70.848 184c3.424 60.576 2.848 120.576 2.848 181.152z"></path></svg>');
}
.icon-public {
  content: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="1024" height="1024" viewBox="0 0 1024 1024"><title></title><g id="icomoon-ignore"></g><path fill="black" d="M512 938.667q-88.533 0-166.4-33.6t-135.467-91.2-91.2-135.467-33.6-166.4 33.6-166.4 91.2-135.467 135.467-91.2 166.4-33.6 166.4 33.6 135.467 91.2 91.2 135.467 33.6 166.4-33.6 166.4-91.2 135.467-135.467 91.2-166.4 33.6zM466.133 873.6v-87.467q-37.333 0-62.933-27.733t-25.6-65.067v-46.933l-218.667-218.667q-5.333 21.333-7.467 42.133t-2.133 42.133q0 138.667 90.133 242.133t226.667 119.467zM779.733 758.4q23.467-25.6 41.067-54.4t29.867-60.267 18.133-64.533 5.867-67.2q0-113.067-61.867-205.333t-165.333-134.933v19.2q0 37.333-25.6 65.067t-62.933 27.733h-92.8v92.8q0 18.133-14.4 29.867t-32.533 11.733h-88.533v93.867h275.2q18.133 0 29.867 13.867t11.733 32v135.467h45.867q30.933 0 54.4 18.133t32 46.933z"></path></svg>');
}
.icon-shopping-cart {
  content: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="1024" height="1024" viewBox="0 0 1024 1024"><title></title><g id="icomoon-ignore"></g><path fill="%23000" d="M311.794 1024q-38.176 0-65.090-27.185t-26.914-65.362 27.185-65.090 65.362-26.914 65.090 27.185 26.914 65.362-27.185 65.090-65.362 26.914zM824.434 1024q-38.176 0-65.090-27.185t-26.914-65.362 27.185-65.090 65.362-26.914 65.090 27.185 26.914 65.362-27.185 65.090-65.362 26.914zM245.423 178.144l140.976 292.205h369.101l160.2-292.205h-670.277zM206.975 101.248h754.958q29.431 0 44.786 26.914t-0.024 53.827l-173.016 311.429q-14.097 24.351-36.601 39.088-22.505 14.739-49.266 14.739h-388.325l-71.769 133.286h629.265v76.896h-617.731q-53.827 0-77.536-35.885t0.64-80.741l82.023-151.229-194.803-412.676h-99.965v-76.896h149.947l47.42 101.247zM386.399 470.349v0z"></path></svg>');
}

body {
  margin: 0;
  padding: 0;
  max-width: 50rem;
  margin: auto;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: azure;
  color: indigo;
}
img {
  width: calc(100%);
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.mainContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three equal columns */
  gap: 0.1em; /* Adjust the gap between images */
}
.imgContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.icon-instagram,
.icon-shopping-cart {
  position: absolute;
  /* opacity: 0; */
  opacity: 0.5;
  color: white;
  text-decoration: none;
  right: 5%;
  /* font-size: 2em; */
  /* font-size: 100%; */
  /*  */
  /* width: 14%; */
  filter: invert();
}

.imgContainer:hover::before {
  content: "";
  inset: 0;
  width: 100%;
  background-color: #2228;
  background: linear-gradient(45deg, #fff0, #0008);
  /* z-index: 2; */
  position: absolute;
}
.imgContainer:hover .icon-instagram,
.imgContainer:hover .icon-shopping-cart {
  position: absolute;
  opacity: 0.7;
  /* background-color: #000; */
  /* filter: initial; */
}
[class^="icon-"] {
  padding: 0.2em;
}
.imgContainer [class^="icon-"]:hover {
  /* filter: initial; */
  opacity: 1;

  /* background-color: #fff; */
  /* border-radius: 0.4em; */
}
.icon-instagram {
  top: 5%;
}
.icon-shopping-cart {
  top: 20%;
  /* width: 10%; */
}
svg {
  margin: 1em;
}
.title {
  position: absolute;
  right: 1em;
  bottom: 0;
  color: white;
  font-size: 2.5vw;
  text-transform: capitalize;
}
@media (min-width: 40rem) {
  .title {
    font-size: 1em;
  }
}