<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include( "partials/head.ejs") %>
  </head>
  <body>
    <main>
      <h1>NotepadJS App | Home</h1>

      <!--  -->
      <%- include ("partials/displayData.ejs") %>
      <!--  -->
    </main>
    <%- include ("partials/footer.ejs") %>
  </body>
</html>
