<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="../">
    <%- include( "partials/head.ejs") %>
  </head>
  <body>
    <main>
      <h1><a href="./">Notepad JS App</a> | by Name</h1>

      <!--  -->
      <%- include ("partials/displayNote.ejs") %>
      <!--  -->
    </main>
    <%- include ("partials/footer.ejs") %>
  </body>
</html>
