<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include( "partials/head.ejs") %>
    <title>Upload JSON Data</title>
  </head>
  <body>
    <main>
      <h1>Upload JSON Data</h1>
      <form action="./upload" method="POST">
        <label for="jsonData">JSON Data:</label><br />
        <textarea id="jsonData" name="jsonData" rows="10" cols="50"></textarea><br /><br />
        <button type="submit">Upload</button>
      </form>
    </main>
    <%- include ("partials/footer.ejs") %>
  </body>
</html>
