<footer>
    <style>
      footer {
        text-align: center;
        margin: 3em;
      }
    </style>
    <p>Frank GP / Contact <a href="//frankgp.com/contact">frankgp.com/contact</a></p>
  </footer>