<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include( "partials/head.ejs") %>
  </head>
  <body>
    <main>
      <h1><a href="./">Notepad JS App</a> ADMIN</h1>
      <a href="https://fgp.one/notepad/download" class="btn">Download data json</a>
      <a href="https://fgp.one/notepad/upload" class="btn">Upload data json</a>
      <%- include( "partials/form.ejs") %>
      <!--  -->
      <%- include( "partials/displayAdmin.ejs") %>
      <!--  -->
    </main>
    <%- include ("partials/footer.ejs") %>
  </body>
</html>
